@page
@using ChatChallenge.WebApp.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Chat Challenge!</h1>
    <p>Learn about it <a href="https://github.com/andrebacaglini/ChatChallenge">here</a>.</p>
</div>
